

header{
    background-color: #FFFFFF;
    background-size: cover;
    height: 60px;
    }
.logo{
    height: 30px;
    margin-left: 20%;
    margin-top: 15px;
    margin-bottom: 15px;
    }
#email{
    line-height: 12px;
    color: #0173bd;
    font-family: Arial;
    cursor: pointer;
    padding: 10px 30px;
    border: 2px solid #0173bd;
    border-radius: 6px;
    background-color: white;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
    margin-top:6px;
    float: right;
    margin-right: 10%;
    display: block;
    }
    
#home-header-inner-container{
    height:400px;
    position: relative;
    }
#banner{
    background-image: url("http://previews.123rf.com/images/olegdudko/olegdudko1506/olegdudko150600678/41379670-Mechanic-Auto-Repair-Shop-Computer--Stock-Photo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    width: 100%;
    position: absolute;
    }
.home-header{
    color: white;
    font-size: 50px;
    font-weight: bold;
    left: 150px;
    top: 350px;
    display: inline-block;
    font-family: verdana;
    margin: 350px 0px 200px 100px;
    }
.home-header-mobile{
    display:none;
    }
h2{
    height: 100px;
    width: 300px;
    background-color: transparent;
    }

#box{
    background-color: white;
    width: 324px;
    float: right;
    margin-top: 13%;
    margin-right: 10%;
    padding-bottom: 15px;
    }
h3{
    color: #457ABD;
    background: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-style: italic;
    margin: 0 auto;
    padding: 20px;
    text-align: left;
    }
#upload{
    background: white;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
    }
#fb{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: #3b5998;
    font-family: tahoma, sans-serif;
    }
#fblink{
    color: #3b5998;
    font-family: tahoma, sans-serif;
    }
#or{
    color: black;
}
#videos{
    text-align: left;
    padding-left: 10px;
    }
#browser{
    margin-left: 110px;
    margin-bottom: 10px;
    font-family: 'Roboto', sans-serif;
    }
#fields{
    padding-left: 10px;
    padding-top: 4px;
    display: none;
    font-family: 'Roboto', sans-serif;
    }
    
.chosen #fields{
    display: block;
}
#contact{
    font-family: 'Roboto', sans-serif;
    }
#note{
    font-family: calibri;
    }
#bottom-button{
    background-color: #3E5B7F !important;
    color: #fff !important;
    border: none !important;
    text-align: center !important;
    text-decoration: none !important;
    font-size: 15px !important;
    font-weight: 500 !important;
    padding: 7px 30px !important;
    cursor: pointer;
    -ie-border-radius: 5px;
    -ms-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    display: inline-block;
    height: 32px;
    line-height: 32px;
    -webkit-font-smoothing: antialiased;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
    margin-left: 110px;
    margin-bottom: 10px;
    margin-top: 6px;
    }
#progress{
    margin-left: 83px;
    display: none;
}
#thanks{
    display: none;
}
.uploading #progress{
    display:block;
}
.uploading #prompt, .uploading #upload{
    display:none;
}
.done #thanks{
    display: inline-block;
}
a{
    text-decoration: none;
    }
.bottom-list{
    width: 100%;
    background-color: #0C4A7B;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    list-style: none;
    padding-left: 0;
    padding-right: 0;
    display: inline-block;
    box-sizing: borderbox;
    position: relative;
    margin-top: 4%;
    }
#listone{
    display: inline-block;
    margin: 20px;
    font-family: 'Roboto', sans-serif;
    }
#listtwo{
    display: inline-block;
    margin: 20px;
    font-family: 'Roboto', sans-serif;
    }
#listthree{
    display: inline-block;
    margin: 20px;
    font-family: 'Roboto', sans-serif;
    }
.check{
    height: 15px;
    width: 15px;
    margin-right: 3px;
    }

@media only screen and (max-device-width: 440px){
header{
    height: 5em;
    }
.logo{  
    display: block;
    margin: 0 auto;
    padding-top: 10px;
    }
#email{
    display: none;
    }
#banner{
    background-position: 13% 0;
    background-size: 100%;
    }

#box{
    width: 100%;
    margin: 0 auto;
    margin-top: 60%
    }
#browser{
    text-align: center;
    display: inline-block;
    }
.home-header{
    display: none;
    }
.home-header-mobile{
    color: #0C4A7B;
    font-size: 22px;
    font-weight: bold;
    margin: 0 auto;
    display: block;
    font-family: verdana;
    text-shadow: 1px 3px 1px 10px #000000
    }
#home-header-inner-container{
    margin: 0 20px;
    }
.bottom-list{
    margin-top: 0%;
    text-align: center;
    padding: 10px 5px;
    width: 100%;
    position: relative;
    }
#listone{
    display: block;
    padding-bottom: 5px;
    }
#listtwo{
    display: block;
    padding-bottom: 5px;
    }
#listthree{
    display: block;
    padding-bottom: 5px;
    }
}

@media only screen and (min-device-width: 441) and (max-device-width: 901px){
header{
    height: 10%;
    }
.logo{  
    display: block;
    margin: 0 auto;
    padding-top: 10px;
    }
#email{
    display: none;
    }
#banner{
    background-position: 13% 0;
    background-size: 100%;
    }
#box{
    width: 100%;
    margin: 0 auto;
    margin-top: 60%
    }
#browser{
    text-align: center;
    display: inline-block;
    }
.home-header{
    display: none;
    }
.home-header-mobile{
    color: #0C4A7B;
    font-size: 22px;
    font-weight: bold;
    margin: 0 auto;
    display: block;
    font-family: verdana;
    text-shadow: 1px 3px 1px 10px #000000
    }
#home-header-inner-container{
    margin: 0 20px;
    }
.bottom-list{
    margin-top: 10%;
    text-align: center;
    padding: 10px 5px;
    width: 100%;
    position: relative;
    }
#listone{
    display: block;
    padding-bottom: 5px;
    }
#listtwo{
    display: block;
    padding-bottom: 5px;
    }
#listthree{
    display: block;
    padding-bottom: 5px;
    }
}
