#upload {
	display: none;
}

.prompted #prompt {
	display: none;
}

.prompted #upload {
	display: block;
}

#upload { 
	max-width: 700px;
	width: 100%;
}

label { 
	border-bottom: 2px solid gray;
	display: block;
	width: 100%;
	padding-bottom: 1px;
}

input, textarea {
	margin-bottom: 9px;
}

input[type="file"] {
	margin-left: 10px;
	border: none;
}

input[type="email"], input[type="text"], textarea, button {
	display: block;
	width: 100%;
}

button { 
	margin-top: 10px;
}

progress { 
	display: none;
}

.uploading #prompt, .uploading #upload {
	display: none;
}

.uploading progress { 
	display: inline-block;
}

#thanks { 
	display: none;
}

.done #thanks {
	display: inline-block;
}