header{
    background-color: #FFFFFF;
    background-size: cover;
    height: 60px;
    }

.nav ul {
    *zoom:1;
    list-style:none;
    margin:none;
    padding:0;
    z-index: 90;
    position: relative;
    background-color:rgba(51, 51, 51, 0.5);
    }
.nav ul:before, .nav ul:after{
    content:"";
    display:table;

    }
.nav ul:after {
    clear: both;
    }
.nav a {
    display: block;
    padding: 10px 20px;
    line-height:1.2em;
    }
    
.nav a:hover {
    text-decoration: none;
    color: red;
    }

/*logo{
    height: 30px;
    margin-left: 20%;
    margin-top: 15px;
    margin-bottom: 15px;
    display: block;
    } */
.logo{
    font-family: "Architects Daughter";
    color: #FFFFFF;
    font-size: 40px;
    margin-left: 40px;
    display: inline-block !important;
    float: left;
    font-weight: bold;
    z-index: 100;
    }
#email{
    text-decoration: none;
    color: white;
    box-sizing: border-box;
    text-align: center;
    padding: 10px 30px;
    font-family: "open sans";
    display: inline-block !important;
    float: left;
    -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition: .5s;
  font-variant: small-caps;
  font-weight: bold;
  font-size: 20px;
  }
#email:hover{
    color: #218be7;
    text-shadow: text-shadow: 0 0 3px white;
    }
.navcontact{
    display: inline-block;
    float: left;
    font-size: 15px;
    line-height: 15px;
    padding: 5px 50px;
    clear: top;
    }

/*#email{
    line-height: 12px;
    color: #0173bd;
    font-family: Arial;
    cursor: pointer;
    padding: 10px 30px;
    border: 2px solid #0173bd;
    border-radius: 6px;
    background-color: white;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
    margin-top:6px;
    float: right;
    margin-right: 10%;
    display: block;
    z-index: 10000;
    }*/
     
#home-header-inner-container{
    height:95vh;
    position: relative;
    }
#banner{
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    }

#bannerimage{
    background-repeat: no-repeat;
    background-size: cover;
    background-color: blue;
    height: 97vh;
    width: 100%;
    position: relative;
    background-color: rgba(0, 0, 0, 0.5);
    -webkit-filter: ;  /* Chrome, Safari, Opera */
    filter: blur(0px);
    top: -7vh;
} 
.home-header{
    color: white;
    font-size: 50px;
    font-weight: bold;
    left: 150px;
    top: 350px;
    display: inline-block;
    font-family: verdana;
    margin: 350px 0px 50px 100px;;
    }
.home-header-mobile{
    display:none;
    }
h2{
    height: 100px;
    width: 300px;
    background-color: transparent;
    }

#box{
    background-color: white;
    width: 350px;
    float: right;
    margin-top: 7vh;
    margin-right: 10%;
    padding-bottom: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
.description{
    color: #457ABD;
    background: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-style: italic;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    font-size: 30px;
    }
#upload{
    background: white;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
    }
#fb{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: #3b5998;
    }
#fblink{
    color: #3b5998;
    font-family: tahoma, sans-serif;
    }
#or{
    color: black;
}
#videos{
    text-align: center;
    padding-left: 10px;
    margin-left: 20%;
    margin-bottom: 10px;
    margin-top: 8px;
    font-family: roboto;
    font-size: 15px;
    }
#browser{
    margin-left: 110px;
    margin-bottom: 10px;
    font-family: 'Roboto', sans-serif;
    }
#fields{
    padding-left: 10px;
    padding-top: 4px;
    display: none;
    font-family: 'Roboto', sans-serif;
    }
#getquote{
	-moz-box-shadow:inset 0px 1px 0px 0px #97c4fe;
	-webkit-box-shadow:inset 0px 1px 0px 0px #97c4fe;
	box-shadow:inset 0px 1px 0px 0px #97c4fe;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #3d94f6), color-stop(1, #1e62d0));
	background:-moz-linear-gradient(top, #3d94f6 5%, #1e62d0 100%);
	background:-webkit-linear-gradient(top, #3d94f6 5%, #1e62d0 100%);
	background:-o-linear-gradient(top, #3d94f6 5%, #1e62d0 100%);
	background:-ms-linear-gradient(top, #3d94f6 5%, #1e62d0 100%);
	background:linear-gradient(to bottom, #3d94f6 5%, #1e62d0 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#3d94f6', endColorstr='#1e62d0',GradientType=0);
	background-color:#3d94f6;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #337fed;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #1570cd;
    width: 40%;
    margin: 10px 30%;
}
.chosen #fields{
    display: block;
}
#contact{
    font-family: 'Roboto', sans-serif;
    margin: auto;
    padding: 5px;
    text-align: center;
    margin-left: 50px;
    }
#note{
    font-family: roboto;
    padding: 10px;
    margin-top: 5px;
    margin-left: 50px;
    width: 65%;
    text-align: center;
    }
#bottom-button{
    background-color: #ECA755 !important;
    color: #fff !important;
    border: none !important;
    text-align: center !important;
    text-decoration: none !important;
    font-size: 15px;
    font-weight: 500 !important;
    padding: 7px 30px !important;
    cursor: pointer;
    -ie-border-radius: 5px;
    -ms-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    display: inline-block;
    height: 32px;
    line-height: 32px;
    -webkit-font-smoothing: antialiased;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
    margin-left: 110px;
    margin-bottom: 10px;
    margin-top: 6px;
    }
#progress{
    margin-left: 83px;
    display: none;
}
#thanks{
    display: none;
}
#closearrow{
    color: rgba(128, 128, 128, 0.48);
    cursor: pointer;
    text-align: center;
    font-family: roboto;
    }
#closearrow:hover{
    cursor:pointer;
    color: rgba(128, 128, 128, 1);
    }
.uploading #progress{
    display:block;
}
.uploading #prompt, .uploading #upload{
    display:none;
}
.done #thanks{
    display: inline-block;
}
a{
    text-decoration: none;
    }
#bottom-banner{
    width: 100%;
    position: fixed;
    top: 560px;
    }
.bottom-list{
    width: 100%;
    background-color: #0C4A7B;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    list-style: none;
    padding-left: 0;
    padding-right: 0;
    display: inline-block;
    box-sizing: borderbox;
    position: relative;
    margin-top: 0px;

    }
#listone{
    display: inline-block;
    margin: 20px;
    font-family: 'Roboto', sans-serif;
    }
#listtwo{
    display: inline-block;
    margin: 20px;
    font-family: 'Roboto', sans-serif;
    }
#listthree{
    display: inline-block;
    margin: 20px;
    font-family: 'Roboto', sans-serif;
    }
.check{
    height: 15px;
    width: 15px;
    margin-right: 3px;
    }

#second-section{
    background: blue;
    width: 100% !important;
    }
.container-column{
   font-family: open sans;
   text-align: center;
   display: inline-block;
   width: 33%;
   float: left;
   padding: 10px 20px;
   box-sizing: border-box;
  
   }
.g-header-text{
    font-family: "open sans";
    font-size: 30px;
    color: grey;
    text-align: center;
    padding-top:50px;
    width: 100%;
    }
.col-lg-12 {
    margin-bottom: 50px;
    }
.home-car-logos img {
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    transition: 0.3s;
    opacity: 0.5;
    filter: alpha(opacity=50);
    max-height: 100px;
    max-width: 150px;
    display: inline;
    white-space: nowrap;
    float: left;
    width: 5%;
    margin: 100px 20px 10px 20px;

    vertical-align: text-top;;
}

.home-car-logos img:hover {
    opacity: 1;
    }
.btn-gray-stroke-small{
    display:none;}
    
.center-vertical {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
      
    
    
    
    
    
    
    
    
    
@media only screen and (max-device-width: 440px){
header{
    height: 9em;
    }
#banner{
    width:100%;
    background-position: 13% 0;
    background-size: cover;

    }
.logo{  
    height: 75px;
    display: inline;
    margin: 0 auto;
    padding-top: 2em;
    padding-left: 50px;
    }
.home-header-mobile{
    color: #0C4A7B;
    font-size: 45px;
    font-weight: bold;
    display: inline;
    font-family: roboto;
    float: right;
    width: 50%;
    margin-top:1em;
    }
.home-header{
    display: none;
    }
#email{
    display: none;
    }
#banner{
    background-position: 13% 0;
    background-size: 100%;
    }

#box{
    margin-top: 60%;
    padding: 0px 0px 0px 0px;
    }
.description{
    font-size: 60px;
    text-align: center;
    margin-top: -10%;
    width: 800px;
    padding: 0px;
    position: relative;
    }

#fb{
    display: inline-block;
    margin: 0 auto;
    width: 800px;
    font-size: 50px;
    padding-top: 3%;
    text-align: center;
    }
#browser{
    display: inline-block;
    font-size: 50px;
    margin: 0 auto;
    text-align: center;
    width: 800px;
    }
#upload{
    width: 800px;
    text-align: center;
    }
#videos::-webkit-file-upload-button{
    visibility: hidden;
    }
#videos::before{
    content: 'Select a file';
    display: inline-block;
    background: -webkit-linear-gradient(top, #f9f9f9, #e3e3e3);
    border: 1px solid #999;
    border-radius 3px;
    padding: 5px 8px;
    outline: none;
    white-space: nowrap;
    -webskit-user-select: none;
    cursor: pointer;
    text-shadow: 1px 1px #fff;
    font-weight 799;
    font-size: 300%;

}
#videos::before{
    border-color: black;
    }
#videos::before{
    background:-webkit-linear-gradient(top, #e3e3e3)
    }

#contact{
    margin: 10px 10px 10px 10px;
    display: block;
    height: 50px;
    font-size: 40px;
    text-align: center;
    font-family: roboto;
    width: 250%;
}
#note{
    margin: 10px 10px 10px 10px;
    display: block;
    width: 250%;
    height: 75px;
    font-size: 50px;
    text-align: center;
    font-family: Roboto;
}

#bottom-button{
    width: 255%;
    font-size: 50px;
    margin: 0 auto;
    height: 40px;
    padding: 0px;
    font-size: 50px;
    line-height: 50px;
    height: 75px;
    
    }
#bottom-banner{
    width: cover;
    margin-top: 0%;
    position: absolute;
    }
.bottom-list{
    text-align: center;
    padding: 10px 5px;
    width: 100%;
    font-size: 50px;
    /* bottom: 0px; */
    margin-top: 800px;
    position: static;
    display: inline-block;

    }
.check{
    height: 50px;
    width: 50px;
    margin-right: 3px;
    }
#listone{
    display: block;
    padding-bottom: 5px;
    }
#listtwo{
    display: block;
    padding-bottom: 5px;
    }
#listthree{
    display: block;
    padding-bottom: 5px;
    }
}















@media only screen and (min-device-width: 441) and (max-device-width: 901px){
hheader{
    height: 9em;
    }

.logo{  
    height: 75px;
    display: inline;
    margin: 0 auto;
    padding-top: 2em;
    padding-left: 50px;
    }
.home-header-mobile{
    color: #0C4A7B;
    font-size: 45px;
    font-weight: bold;
    display: inline;
    font-family: roboto;
    float: right;
    width: 50%;
    margin-top:1em;
    position:fixed;
    }
.home-header{
    display: none;
    }
#email{
    display: none;
    }
#banner{
    
    background-repeat: no-repeat;
    background-size: 100%;
    height: 500px;
    width: 100%;
    position: absolute;

    }

#box{
    margin-top: 60%;
    padding: 0px 0px 0px 0px;
    }
.description{
    font-size: 60px;
    text-align: center;
    margin-top: -10%;
    width: 800px;
    padding: 0px;
    position: relative;
    }
#fblink{
    font-size: 50px;
    margin: 0 auto;
    }
#fb{
    display: inline-block;
    margin: 0 auto;
    padding-left: 10%;
    width: 800px;
    font-size: 40px;
    padding-top: 10%
    }
#browser{
    display: inline-block;
    font-size: 50px;
    margin: 0 auto;
    text-align: center;
    width: 800px;
    
    }
#videos{
    font-size: 300%;
    display: inline-block;
    margin-left: 15%;
    width: 800px;
    padding-top:10px;
    padding-bottom: 20px;
    }

#contact{
    margin: 10px 10px 10px 10px;
    display: block;
    height: 50px;
    font-size: 40px;
    text-align: center;
    font-family: roboto;
    width: 250%;
}
#note{
    margin: 10px 10px 10px 10px;
    display: block;
    width: 250%;
    height: 75px;
    font-size: 50px;
    text-align: center;
    font-family: Roboto;
}

#bottom-button{
    width: 255%;
    font-size: 50px;
    margin: 0 auto;
    height: 40px;
    padding: 0px;
    font-size: 50px;
    line-height: 50px;
    height: 75px;
    
    }
.bottom-list{
    width: 100%;
    background-color: #0C4A7B;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    list-style: none;
    padding-left: 0;
    padding-right: 0;
    display: inline-block;
    box-sizing: borderbox;
    position: relative;
    margin-top: 0px;
    }
.check{
    height: 50px;
    width: 50px;
    margin-right: 3px;
    }
#listone{
    display: block;
    padding-bottom: 5px;
    }
#listtwo{
    display: block;
    padding-bottom: 5px;
    }
#listthree{
    display: block;
    padding-bottom: 5px;
    }
}
