.first-slide{
    position: relative !important;
    background-size: cover !important;

    }
.navbar-brand{
    font-family: "Architects Daughter";
    color: #FFFFFF;
    font-size: 40px;
    margin-left: 40px;
    display: inline-block !important;
    float: left;
    font-weight: bold;
    z-index: 100;
    }
.navbar-wrapper {
    width: 100vw !important;
    float: left !important;
    margin: 0px !important;
    padding: 0px !important;
    }
.navbar-wrapper .navbar {
    padding-right: 15px;
    padding-left: 15px;
    background-color: #313131;
    }
	
#slogan{
    font-size: 15px;
    text-shadow: 1px 1px 1px #ddd;
    }
#upload{
    background: white;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
    }
#fb{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: #000000;
    }
#fblink{
    color: #5875F7;
    font-family: 'Roboto', sans-serif;
    text-shadow: 0px 0px;
    text-decoration: underline;
    cursor: pointer;
    font-size: 15px;
    }
#or{
    color: black;
    text-shadow: 0px 0px;
    font-size: 15px
}
#videos{
    text-align: center;
    padding-left: 10px;
    margin-left: 30%;
    margin-bottom: 10px;
    margin-top: 8px;
    font-family: roboto;
    font-size: 15px;
    color: #000000;
    }
#browser{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: #000000;
    text-shadow: 0px 0px;
    }
#fields{
    display: none;
    font-family: 'Roboto', sans-serif;
    }
#getquote{
	-moz-box-shadow:inset 0px 1px 0px 0px #97c4fe;
	-webkit-box-shadow:inset 0px 1px 0px 0px #97c4fe;
	box-shadow:inset 0px 1px 0px 0px #97c4fe;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #3d94f6), color-stop(1, #1e62d0));
	background:-moz-linear-gradient(top, #3d94f6 5%, #1e62d0 100%);
	background:-webkit-linear-gradient(top, #3d94f6 5%, #1e62d0 100%);
	background:-o-linear-gradient(top, #3d94f6 5%, #1e62d0 100%);
	background:-ms-linear-gradient(top, #3d94f6 5%, #1e62d0 100%);
	background:linear-gradient(to bottom, #3d94f6 5%, #1e62d0 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#3d94f6', endColorstr='#1e62d0',GradientType=0);
	background-color:#3d94f6;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #337fed;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #1570cd;
    width: 40%;
    margin: 10px 30%;
}
.chosen #fields{
    display: block;
}
#contact{
    font-family: 'Roboto', sans-serif;
    margin: auto;
    padding: 5px;
    text-align: center;
    z-index: 1;
    color: #000000;
    }
#note{
      font-family: 'roboto', sans-serif;
    padding: 10px;
    margin-top: 5px;
    width: 75%;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    color: #000000;
    }
#bottom-button{
    background-color: #ECA755 !important;
    color: #fff !important;
    border: none !important;
    text-align: center !important;
    text-decoration: none !important;
    font-size: 15px;
    font-weight: 500 !important;
    padding: 7px 30px !important;
    cursor: pointer;
    -ie-border-radius: 5px;
    -ms-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    display: inline-block;
    height: 32px;
    line-height: 32px;
    -webkit-font-smoothing: antialiased;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
    margin-bottom: 10px;
    margin-top: 6px;
    }
#progress{
    margin: auto;
    margin-top: 5px;
    display: none;
}

#progressbar{
    display: none;
    }
    
#thanks{
    display: none;
}
#closearrow{
    color: rgba(128, 128, 128, 0.48);
    cursor: pointer;
    text-align: center;
    font-family: roboto;
    text-shadow: 0px 0px;
    }
#closearrow:hover{
    cursor:pointer;
    color: rgba(128, 128, 128, 1);
    }
.uploading #progress{
    display:block;
}
.uploading #prompt, .uploading #upload{
    display:none;
}
.done #thanks{
    display: inline-block;
}
.home-car-logos img {
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    transition: 0.3s;
    opacity: 0.5;
    filter: alpha(opacity=50);
    max-height: 100px;
    max-width: 100px;
    display: inline;
    white-space: nowrap;
    vertical-align: top;
    margin: 10px auto;
}

.home-car-logos img:hover {
    opacity: 1;
    }
.center-vertical {
    position: relative;
    top: 50%;
 }
 .btn-gray-stroke-small{
    display:none;}
    
