body{
background-image: url('C:\Users\Alandra\Documents\StridePro\stridepro.github.io\images\bg01.jpg');
}
#evalp1{
    height: 40em;
    display: inline-block;
    }
    
#evalp2{
    height: 20em;
    display: inline-block;
    }
