/* Top Navigation*/
#section-topbar{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    overflow: visible;
    font: normal 16/24px 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
    }
#section-topbar a {
    color: #fff;
    }
#topbar-inner {
    background: #111;
    line-height: 0;
    text-align: center;
}
#section-topbar ul#nav {
    display: inline-block;
    position: relative;
    margin: 0;
    padding: 0;

    border-right: 1px solid #222;

    /* For IE, the outcast */
    zoom:1;
    *display: inline;
}

#section-topbar ul#nav > li {
    display: block;
    float: left;
    padding: 0;
}


#section-topbar ul#nav a {
    display: block;
    font: normal 11px/18px "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-decoration: none;
    padding: 18px 20px 18px 20px;
    border-left: 1px solid #222;
}

#section-topbar ul#nav a:hover {
    background: #222;
    text-decoration: none;
    border-left: 1px solid #111;
}
/*Navigation dropdowns */

#section-topbar ul#nav a ul li{
    display: none;
    position: absolute;
    top: 58px;
    left: inherit;
    width: inherit;
    background-color: #222;
    padding: 15px 30px;
    font-variant: small-caps;
    font-size: large;
    }

#section-topbar ul#nav a:hover ul li{
    display: block;
    z-index: 100;
    }
/*nav dropdown */
    
#section-topbar ul#nav .active a {
    background: #df4244;
    border-left: 1px solid #111;
}

#section-topbar ul#nav .active a:hover {
    background: #df4244;
}
@media only screen and (max-width: 460px) {
    #section-topbar ul#nav img {
        width:25px;
    }
    #section-topbar ul#nav a {
        padding: 12px 12px 12px 12px;
    }	
}
/* jQuery UI tooltip for menu items --- DOESN'T WORK????*/
.ui-tooltip {
    color: #eee;
    background: #222;
    padding: 10px 15px;
    font: normal 300 12px/22px 'Open Sans', "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    position: absolute;
    z-index: 9999;
    max-width: 300px;
}

body .ui-tooltip {
    border: none;
}


/*---------CONTACT--------------*/
/* Register Form */
#section-contact form {
    margin-bottom: 40px;
}

#section-contact form p,
#section-contact label,
#section-contact legend { 
    font: normal 13px/23px 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#section-contact label {
    display: inline-block;
    float: left;
    width: 155px;
    margin: 6px 0;
}

#section-contact input, 
#section-contact textarea, 
#section-contact select { 
    width: 280px; 
    padding: 14px 20px; 
    color: #eee; 
    background: #333;
    margin: 0 0 35px 0; 
    border: 0;
    outline: none;
}

#section-contact input:focus, 
#section-contact textarea:focus, 
#section-contact select:focus { 
    color: #fff;
    background-color: #df4244;
}

#section-contact button.submit {
    font: bold 20px/30px 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    display: block;
    cursor: pointer;
    color:#fff;
    background:#BF73EC;
    padding: 20px 28px;
    border: none;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
    border-radius: 3px;
}

#section-contact button.submit:hover { 
    color: #df4244;
    background: #fff; 
}

#section-contact span.required { 
    color: #df4244;
    font-size: 13px;  
} /* Select the color of the * if the field is required. */


#contact-warning,
#contact-success {
    font: normal 12px/23px 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#contact-warning {
    display: none;
    color: #fff;
    background: #dd3333;
    padding: 20px 25px;
    margin-bottom: 30px;
}

#contact-success {
    display: none;
    color: #77aa44;
    background: #111;
    padding: 20px 25px;
    margin-bottom: 30px;
}

/* HTML5 Placeholder */
::-webkit-input-placeholder {
    color: #df4244;
}

:-moz-placeholder {  
    color: #df4244;
}
s
